body {
	font-family: Arial, "Helvetice Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	background: url("images/concrete_seamless.png");
}

* {
	box-sizing: border-box;
	margin: 0;
}

#navbar {
	background: #fff;
	border-bottom: 2px solid #ccc;
	position: fixed; 
	z-index: 99;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto; 
	color: #fff;
}

#logo {
	float: left;
	width: 250px;
	height: 90px;
	font-family: Georgia;
	font-size: 30px;
	font-weight: 700;
	line-height: 90px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #4aaaa5;
	padding: 0px;
}

.navbar-nav {
	padding-top: 20px;
	padding-right: 30px;
}

.page-header { 
     padding-bottom: 10px;
     border-bottom: 1px solid #eee; 
}


#about, #contact, #portfolio {
	padding-right: 20px;
	padding-left: 25px;
	border-left: 1px solid #efefef;
}

#about {
	border: none;
}



.col-sm-8 {
	margin-top: 120px;
	margin-bottom: 20px;
	float: left;
	padding: 0 30px 30px 30px;
	background: #fff;
	border: 1px solid #ddd;
}


#my-image {
	margin: 0;
	width: 100%;
}


p {
	padding-left: 10px;
	padding-right: 20px;
}

.col-sm-4 {
	margin-top: 120px;
	margin-bottom: 20px;
	width: 27%;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", Serif;
	font-weight: 700;
	color: #4aaaa5;
}

.panel-title {
	font-family: Georgia;
	padding: 25px;
	font-size: 22px;
	font-weight: 700;
	color: #4aaaa5;
}

#panel-head {
	background-color: #fff;
}

#icons {
	padding-left: 38px;
}

li a {
	float: left;
	margin-right: 10px;
}


#portfolio-image {
	width: 100%;
}


.col-sm-6 h3 {
  position: absolute;
  bottom: 20px;
  width: 93%;
  padding: 15px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  overflow: hidden;
}


/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}





footer {
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	color: #fff;
	color: #ccc;
	text-align: center;
	background: #666;
	border-top: 8px solid #4aaaa5;
}


@media screen and (max-width: 980px) {
	.container {
		width: 700px;
	}

	.col-sm-8 {
		width: 60%;
	}

	.col-sm-4 {
		width: 40%;
	}

	.panel-title {
		font-size: 18px;
	}

	.col-sm-6 {
		width: 100%;
	}

	#icons {
		clear: both;
		padding: 0;
		padding-left: 20px;
	}

	.col-sm-3 {
		width: 100%;
	}
}


@media screen and (max-width: 768px) {
	
	.container {
		width: 700px;
	}

	.col-sm-4 {
		float: left;
		width: 100%;
		padding: 0;
		margin-top: 0;
	}

	 .col-sm-8 {
      width: 100%;
    }

    .col-sm-3 {
      float: left;
      width: 30%;
    }
	
	p {
		
		padding-top: 10px;
	}


	.col-sm-9 {
		width: 100%;
	}
   

    .panel-title {
		font-size: 22px;
	}

}


@media screen and (max-width: 640px) {
	.container {
		width: 500px;
	}

	.col-sm-3 {
		width: 100%;
	}

	.panel-title {
		font-size: 22px;
	}
}



